<!-- Navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <!--<div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/">LOGO</a>
            </div>-->
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="#/menu">Home</a></li>
                <li><a href="#/list">Item</a></li>
              </ul>
              <div class="pull-right">
                <ul class="nav navbar-nav">
                  <li><a href="#/">Sair</a></li>
                </ul>
              </div>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

<h1>Editar</h1>

<form name="edit_form" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="sku" class="col-sm-2 control-label">Item:</label>
    <div class="col-sm-4">
      <input class="form-control" id="sku"
             ng-model="product.sku" placeholder="Item"/>
    </div>
  </div>

  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Descrição:</label>
    <div class="col-sm-4">
      <input class="form-control" id="description"
             ng-model="product.description" placeholder="Descrição"/>
    </div>
  </div>

  <div class="form-group">
    <label for="Price" class="col-sm-2 control-label">Preço:</label>
    <div class="col-sm-4">
      <input class="form-control" id="price" type="number" min=”0? step="any"
             ng-model="product.price" placeholder="9,99"/>
    </div>
  </div>

  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" id="submit" class="btn btn-small btn-primary" ng-click="editProduct()" class="btn btn-small btn-primary"></button> <a href="#/list" class="btn btn-small btn-danger">Cancelar</a>
    </div>
  </div>
</form>